.form  {
    margin: 10rem auto;
   padding: 0.5cm;
    width: 30%;
    border-radius: 10px;
    border: 1px solid black;
}



.control {
    margin-bottom: 0.5rem;
}

.control input{
    border-radius: 4px;
    text-align: left;
    width: 70%;
    margin-top: 0.5cm;
    margin-bottom: 0.2cm;
    border: 1 px solid white;
}

.control label{
    font-weight: bold;
}

.actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: #0681fd;
    border: 1px solid #0681fd;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
  }